html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  width: 100%;
  background-color: #317c7d;
  position: relative;
}

/*==================================== */
/* NAV . HMTL                          */
/*==================================== */


.start-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4.5vh;
  background-color: #c0c0c0;
  border-top: 4px solid #c3cbcf;
}

.start-button {
  padding: 0 2rem 0 2rem;
  margin-left: 2rem;
  margin-bottom: 0.2rem;
  background: #eee;
  border: 2px inset white;
  border-style: outset;
}

.start-button:hover {
  background-color:#B8B8B8;
}

.start-text {
  padding: 0 1rem 0 1rem; 
  text-transform: uppercase;
  font-size: 1.2rem;
}

#clock {
  font-size: 1.5rem;
  padding: 0 2rem 0 2rem;
  margin-right: 2rem;
}

/*==================================== */
/* NAV . DESIGN                        */
/*==================================== */

.start-bar-button-wrapper {
  display: flex;
  flex-direction: row;
}

.my-computer-text {
  font-size: 1.2rem;
}

.folder-nav-text {
  font-size: 1.2rem;
}

.my-computer-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem 0 2rem;
  margin-bottom: 0.2rem;
  background: #eee;
  border-top: 2.5px solid #1b1b1b;
  border-left: 2px solid #1b1b1b;
  border-right: 2px solid #c3cbcf;
  border-bottom: 2px solid #c3cbcf;
}

.my-computer-button:hover {
  background-color:#B8B8B8;
}


/*==================================== */
/* INDEX . HMTL                        */
/*==================================== */


.left-panel {
  height: 100%;
  margin-left: 3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.icon {
  height: 10vh;
}

.mini-icon {
  height: 15px;
  width: 15px;
  margin-right: 5px;
}

.contact {
  max-width: 115px;
}


/*==================================== */
/* WEB . HMTL                       */
/*==================================== */


.design-left-panel {
  width: auto;
  height: 100%;
}

.folder-nav-text {
  color: white;
  margin-left: 1rem;
} 

#root-folder-window {
  height: 63%;
  width: 60%;
  margin-left: 3vw;
  position: relative;
  top: 10rem;
  border: 4px solid #c3cbcf;
  border-style: outset;
  overflow: scroll;
}

.root-window-top {
  width: 100%;
  height: 3rem;
  background-color: #00017f;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.root-window-icons {
  margin-right: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.question-mark-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-right: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #B8B8B8;
  border-top: 2px solid #c3cbcf;
  border-left: 3px solid #c3cbcf;
  border-right: 2px solid #1b1b1b;
  border-bottom: 2px solid #1b1b1b;
}

.exit-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #B8B8B8;
  border-top: 2px solid #c3cbcf;
  border-left: 3px solid #c3cbcf;
  border-right: 2px solid #1b1b1b;
  border-bottom: 2px solid #1b1b1b;
}

.root-window-bottom {
  width: 100%;
  height: 100%;
  background-color:#c0c0c0;
  position: absolute;
}

.trash-icon {
  position: absolute;
  left: 80%;
  top: 75%;
}

ul {
  margin-top: 2rem;
  list-style: none;
}

.list-wrapper {
  display: flex;
  flex-direction: row;
}



/*==================================== */
/* GLOBAL CSS                          */
/*==================================== */


.third {
  width: 33.3%;
}

.stackem {
  display: flex;
  flex-direction: column;
}

.text-sandwich {
  color: white;
  text-align: center;
  font-size: 1rem;
}

@font-face {
  font-family: 'Microsoft Sans Serif';
  src: url('/fonts/Microsoft-Sans-Serif.ttf') format ('truetype');
  font-weight: 400;
  font-style: normal;
}


/*==================================== */
/* MEDIA QUERIES                       */
/*==================================== */


@media only screen and (min-width: 600px) {
  .left-panel {width: 16.66%;};
}

@media only screen and (max-width: 600px) {
  #root-folder-window {
    width: 90%;
  }
}

@media only screen and (max-width: 600px) {
  .trash-icon {
    display: none;
  }
}